* {
	margin: 0;
	padding: 0;
}

span { 
	background-color: red; 
}

/* selectores descendientes */
span div { 
	background-color: lightgreen; 
}

div span  { 
	background-color: lightblue; 
}


/* Selecciona el <p> inmediato*/
div > p { 
	background-color: red;
}

/* Selecciona todos los hijos <p>*/
/* div p { 
	background-color: lightgrey;
} */

/* Hermano adjacente */
/* h1 + p {
	color: magenta;
} */

/* Todos los hermanos  */
h1 ~ p { 
	color: magenta;
}
