.caja {
  /* position: fixed; */
  /* display: inline-block; */
  /* display: block; */
  /* display: inline; */
  display: inline-block;
  /* display: none; */
  width: 5rem;
  height: 5rem;
  /* background: black; */
  /* padding: 1rem; */
  margin: 1rem;
  border: 2px solid black;
  background: red;
  color: gold;
  text-align: center;
}

#posAbsoluto {
  position: relative;
  top: 40px;
  left: 40px;
  background: green;
}

li {
  display: inline-block;
  width: 100px;
  background-color: black;
  color: wheat;
  text-align: center;
  padding: 1rem;
}