table {
    background-color: aquamarine;
    border: 1px solid black;
    width: 100%;
    font-size: 1.5rem;
}

button {
    background-color: lightblue!important; /*aplica el estilo obligatoriamente, no puede ser pisado por otros*/
    font-size: 1.3rem;
    padding: .5rem;
    border: 1px solid black;
    border-radius: 5px;
}


a {
    background-color: red;
    padding: .5rem;
    margin: 1rem;
}

input {
    height: 40px;
    background-color: lightblue;
    font-size: 2rem;
}

.titulo {
    font-size: 2rem;
    background-color: lightcoral;
    text-align: center;
    padding: 1rem;
    margin:1rem;
}

.subtitulo {
    font-size: 1.3rem;
    background-color: lightcoral;
    text-align: center;
    padding: 1rem;
    margin:1rem;
}

.texto {
    font-size: 1rem;
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
    text-align: justify;
}


.btnAzul {
    background-color: blue;
}

.btnRojo {
    background-color: red;
}